h1 {
  text-shadow: 0 0 15px rgba(57, 139, 231, 0.35);
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px; 
}

.formInfo {
  display: inline-block;
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 40px;
}

.signUpForm {  
  .actions {
    display: flex;
    justify-content: flex-end;
  }
}