@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import './styles/index.scss';

body {
  background-color: #111111;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

a:focus, a:hover {
  text-decoration: none;
}

